<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
</style>

<body>
    <div style="display: flex; justify-content: space-around; align-items: center; background: rgb(49, 48, 53);padding: 30px;">
        <h5 style="color: white;">List Your Show Got a show,evnt,activity or a great experience with us & get listed on
            Book my show</h6> 
            <a style="text-decoration:none; border:1px solid black; padding:10px; border-radius:5px; background:red; color:white; color:black;" href="/">Home</a>
            <button style="padding: 10px; background: red;border:1px solid;cursor:pointer; border-radius:5px">Contact Today</button>
    </div>
    <div
        style="display: flex; justify-content: space-evenly; text-align: center; margin-top: 5px; background-color: rgb(64, 64, 67);margin: 0px; padding: 50px;">
        <div style="margin-left: 50px;">
            <img style="padding-top: 5px;" src="https://cdn-icons-png.flaticon.com/512/1067/1067566.png" alt=""
                width="100px" height="100px">
            <p>24/7 Customer Care</p>
        </div>
        <div>
            <img style="padding-top: 5px;"
                src="https://cdn-icons.flaticon.com/png/512/2664/premium/2664673.png?token=exp=1652362962~hmac=b71aea714b4aa580a45463c5af85348c"
                alt="" width="100px" height="100px">
            <p>Resend Booking Confirmation</p>
        </div>
        <div>
            <img style="padding-top: 5px;"
                src="https://cdn-icons-png.flaticon.com/512/4425/4425011.png"
                alt="" width="100px" height="100px">
            <p>Subscribe to News letter</p>
        </div>
    </div>



    <div style="background-color:rgb(49, 48, 53) ; padding-top: 10px; padding: 50px;">
        <div style="color: rgb(165, 165, 165);">
            <h5>MOVIES NOW SHOWING IN BENGALURU</h5>
            <ul style="display: flex; list-style: none; justify-content: space-evenly; width: 700px;padding-top: 25px;"">
                <li>RRR </li>
                <li>|</li>
                <li>JAMES </li>
                <li>|</li>
                <li>GHANI</li>
                <li>|</li>
                <li>KGF-2</li>
                <li>|</li>
                <li>THE KASJMIRI FILES</li>
                <li>|</li>
                <li>BEAST</li>
            </ul>
        </div>
        <br>
        <div style="color: rgb(165, 165, 165); padding-top: 25px;">
            <h5>UPCOMING MOVIES IN BENGALURU</h5>
            <ul style="display: flex; list-style: none; justify-content: space-evenly; width: 700px;padding-top: 25px;"">
                <li>RAW</li>
                <li>|</li>
                <li>JERSEY</li>
                <li>|</li>
                <li>NO WAY OUT</li>
                <li>|</li>
                <li>KGF-2</li>
            </ul>
        </div>
        <br>
        <div style="color: rgb(165, 165, 165);padding-top: 25px;">
            <h5>MOVIES BY LANGUAGE</h5>
            <ul style="display: flex; list-style: none; justify-content: space-evenly; width: 700px;padding-top: 25px;">
                <li>KANNADA </li>
                <li>|</li>
                <li>ENGLISH</li>
                <li>|</li>
                <li>TAMIL</li>
                <li>|</li>
                <li>TELUGU</li>
                <li>|</li>
                <li>HINDI</li>
            </ul>
        </div>
        <br>
        <div style="color: rgb(165, 165, 165);padding-top: 25px;">
            <h5>MOVIES BY REVIEWS</h5>
            <ul style="display: flex; list-style: none; justify-content: space-evenly; width: 700px;padding-top: 25px;">
                <li>TRENDING ARTICLES</li>
                <li>|</li>
                <li>FILM REVIEWS</li>
                <li>|</li>
                <li>GUEST BLOGGING</li>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <br>
        <hr>
        <img style="position: relative; padding: 25px; top: -70px; left: 600px; background:rgb(49, 48, 53);" src="https://in.bmscdn.com/webin/common/icons/logo.svg" alt="" width="150px" height="100px">
    </div>

    <div>
        
    </div>

    {{> footer}}
</body>

</html>