<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HBs</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body >
      <div class="bgimg">

        {{>navbar}}

        <div class="heading">
          <h1>CLEAN AND FLEXIBLE CONTENT</h1>
          <p class="paragraph">Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere. <br>
            Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. 
          </p>
        </div>
        <div class="button">
        <button class="btn btn-primary ">DOWNLOAD NOW</button>
        <button class="btn1">VIEW FEATURES</button>
        </div>

      </div>

      <br><br><br><br>

      <div class="about">
        <h1 class="aboutheading">ABOUT US</h1>
        <p class="aboutpara">Setibulum rutrum quam vitae fringilla tincidunt</p>
      </div>

      <div class="underline"></div>

      <div class="flex">
        <div class="flex1">
          <p>Lorem ipsum dolor sitamet, consectetur adipisicing elit, <br> seddo eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quisus nostrud exercitation ullamco <br> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <br> reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br> Excepteur sint occaecat cupidatat non proident, sunt in culpa <br> qui officia deserunt mollit anim id est laborum.
          Excepteur sint occaecat <br> cupidatat none proident, sunt in culpa qui officia deserunt mollit anim <br> id est laborum voluptate dolor.</p>
        </div>
        <div class="flex2">
          <img src="/about.jpg" alt="">
        </div>
      </div>
    
    
  </body>
</html>