   

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
footer{
    margin-top: 0px;
    height: 200px;
    background-color: rgb(31, 37, 51);
}
.socialimg {
    margin-left: 550px;  
}
.socialimg img{
    padding-left: 5px;
    margin-top: 25px;
}
.para{
    text-align: center;
    margin-top: 20px;
    color: rgb(102, 102, 102);
}
.parag{
    text-align: center;
    margin-top: 20px;
    color:  rgb(102, 102, 102);
}
</style>

<body>
    
    <footer class="footer">
        <div class="socialimg">
            <img src="https://cdn-icons.flaticon.com/png/512/665/premium/665209.png?token=exp=1652360056~hmac=6534b1e12622996801465980eca6f3bd" width="30px" height="30px" alt="">
            <img src="https://cdn-icons.flaticon.com/png/512/739/premium/739257.png?token=exp=1652360305~hmac=e50a72bb21e0451d281a33de14a63200" alt="" width="30px" height="30px">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png" alt="" width="30px" height="30px">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077046.png" alt="" width="30px" height="30px">
        </div>
        <div>
            <p class="para">copyright 2022 Bigtree Entertainent Pvt. Ltd. All rights Reserved.</p>
            <p class="parag">The content and images used on this site are copyright protected and copyrights vests with the respective owners. The usage of the content and images on this website <br> is intended to promote the works  and no endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law.</p>
        </div>
    </footer>
           
        
</body>